<div class="container">
    <div class="col-xs-9">
        <div class="panel panel-default" ng-if="!showchart">
            <div class="panel-heading">
                数据表
            </div>
            <div class="panel-body">
                <p>当前位置: <a href="#/databases">{{config.dns}}</a>/<a href="#/databases">{{config.dbname}}</a>/{{config.table}} </p>
                <p>
                    <a ng-click="getData('last')">上一页</a>
                    <span ng-repeat="i in [] | range:pageAmount">
                        <a ng-click="getData(i)" ng-if="i<4||i>pageAmount-5||i==nowPage">
                            <span ng-if="i==nowPage"><b>{{i}}</b></span>
                            <span ng-if="i!=nowPage">{{i}}</span>
                        </a>
                    </span>
                    <a ng-click="getData('next')">下一页</a>
                </p>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td ng-repeat="fieldName in fieldNames">{{fieldName}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in data.data">
                        <td ng-repeat="(key,value) in item">{{value}}</td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="text-center" ng-if="data.data.length == 0">数据表为空</h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                图表
            </div>
            <div class="panel-body">
                <div id="chart">
                    
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                绘图
            </div>
            <div class="panel-body">
                <p>选择绘图数据：</p>
                <label class="radio-inline">
                    <input type="radio" name="dataType" value="count" ng-model="dataType">统计数据
                </label>
                <label class="radio-inline">
                    <input type="radio" name="dataType" value="all" ng-model="dataType">原数据
                </label>
                <div ng-if="dataType == 'count'">
                    <p>字段名：</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">{{selectedFieldName?selectedFieldName:'选择要统计的字段'}}</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="fieldName in fieldNames"><a ng-click="selectFieldName(fieldName)">{{fieldName}}</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default" ng-click="sortStart()">
                        开始统计
                    </button>
                </div>
                <div ng-if="dataType == 'all'">
                    <p>X轴：</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">{{chartData.axisName.x?chartData.axisName.x:'选择X轴数据'}}</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="fieldName in fieldNames"><a ng-click="selectRawDataFiled('x',fieldName)">{{fieldName}}</a></li>
                        </ul>
                    </div>
                    <p>Y轴：</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">{{chartData.axisName.y?chartData.axisName.y:'选择Y轴数据'}}</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="fieldName in fieldNames"><a ng-click="selectRawDataFiled('y',fieldName)">{{fieldName}}</a></li>
                        </ul>
                    </div>

                    <button class="btn btn-default" ng-click="drawRawDataChart()">
                        绘图
                    </button>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="showchart">
            <div class="panel-heading">
                绘图
            </div>
            <div class="panel-body">
                <p>绘图方式：</p>
                <button class="btn btn-default" ng-click="changeChartType('bar')">
                    柱状图
                </button>
                <button class="btn btn-default" ng-click="changeChartType('pie')">
                    饼图
                </button>
                <button class="btn btn-default" ng-click="changeChartType('map')">
                    地图
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                过滤器
            </div>
            <div class="panel-body">
                <div ng-repeat="fieldName in fieldNames" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            {{fieldName}}
                        </span>
                        <input type="text" class="form-control" ng-model="config.filter[fieldName]" ng-change="filterChange()"/>
                    </div>
                    {{filter[fieldName]}}
                </div>
                <button class="btn btn-default" ng-click="submitFilter()">过滤数据</button>
            </div>
        </div>

    </div>
</div>